//
// Reset CSS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

 //
// Var
$c-primary: #76AC43;
$c-primary-darker: #679B36;
$c-black: #121214;
$c-darker: #1A1A1E;
$c-dark: #222327;
$c-grey: #AAAAB1;
$c-light: #EDEAEA;
$c-white: #f7f7f7;
$c-health: #D9433D;
$c-armor: #AFFFE0;
$c-mana: #00D8FF;
$b-radius: 10px;
$b-radius-large: 12px;
$s-container: 20px; // Container spacing
$s-intern: 15px; // Container inner spacing


#main {
    display: flex;
    flex-wrap: wrap;
    padding: $s-container;
    gap: $s-container;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $c-black;
    //
    // Common
    .container {
        background-color: $c-darker;
        border-radius: $b-radius-large;
        height: calc(50vh - ($s-container * 2));
        padding: $s-intern;
        &.--big {
            width: calc(65vw - ($s-container * 2));
        }
        &.--small {
            width: calc(35vw - ($s-container * 2));
        }
    }
    .btn {
        appearance: none;
        border-radius: $b-radius;
        box-shadow: none;
        border: none;
        font-size: 1rem;
        padding: 10px 5px;
        transition: all .2s ease-in-out;
        -webkit-box-shadow: 0px 0px 0px 0px $c-grey; 
        box-shadow: 0px 0px 0px 0px $c-grey;
        &--primary {
            background-color: $c-primary;
            color: $c-white;
            &:hover {
                background-color: $c-primary-darker;
                cursor: pointer;
            }
        }
        &--secondary {
            background-color: $c-dark;
            color: $c-light;
            &:hover {
                background-color: $c-dark;
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 5px -2px $c-grey; 
                box-shadow: 0px 0px 5px -2px $c-grey;
            }
        }
    }

    // 
    // Entity list
    #entity_list {
        display: flex;
        flex-direction: row;
        gap: $s-intern;
        .entity_group {
            display: flex;
            flex-direction: column;
            width: calc(50% - $s-intern);
            gap: $s-intern;
            &.entity_ally {

            }
            &.entity_enemy {

            }

            h3 {
                font-size: 1.5rem;
                color: $c-white;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: $s-intern;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: $c-dark;
                    border-radius: $b-radius;
                    padding: $s-intern / 2;
                    h4 {
                        display: flex;
                        align-items: center;
                        color: $c-white;
                        font-weight: 500;
                         i {
                            font-size: 0;
                            width: 12px;
                            height: 12px;
                            background-color: $c-primary;
                            margin-right: $s-intern / 2;
                        }
                    }
                    .entity_stats {
                        width: 100%;
                        .entity_stat {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            .entity_stat_label {
                                font-size: .75rem;
                                text-align: right;
                                color: $c-white;
                                width: 40px;
                            }
                            .entity_stat_bar {
                                display: block;
                                position: relative;
                                height: 4px;
                                border-radius: 4px;
                                width: calc(100% - 40px - $s-intern / 2);
                                &.--health {
                                    background-color: $c-health;
                                }
                                &.--armor {
                                    background-color: $c-armor;
                                }
                                &.--mana {
                                    background-color: $c-mana;
                                }
                            }
                        }
                    }

                    button {

                    }
                }
            }
            hr {
                height: 100%;
                border-bottom: none;
                background-color: $c-white;
            }
        }
    }

    // 
    // Map
    #map {

    }

    // 
    // Chat box
    #chat_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $s-intern;
        #chat_box_chat {
            position: relative;
            width: 100%;
            height: calc(100% - 40px - $s-intern);
            background-color: $c-black;
            border-radius: $b-radius;
            .chat_box_help {
                position: absolute;
                top: $s-intern;
                right: $s-intern;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $c-white;
                font-weight: bold;
                border: none;
            }
        }
        input[type=text] {
            height: 40px;
            width: calc(100% - 30px - $s-intern);
            border-radius: $b-radius;
            background-color: $c-dark;
            border: none;
            padding: $s-intern / 2;
            color: $c-white;
            &:focus {
                outline: none;
            }
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            margin: 6px 0;
            width: 28px;
            background-color: $c-white;
            border-radius: 50%;
            i {

            }
            input[type=file] {
                width: 0px;
                height: 0px;
            }
        }
    }

    // 
    // Utilities
    #utilities {
        .utilities_bloc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: $s-intern;
            .utilities_col {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $s-intern;
                width: calc(50% - ($s-intern / 2));
                button {
                    width: 100%;
                }

                .utilities_multiple_dice {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    input {
                        height: 32px;
                        width: 32px;
                        border: 2px solid $c-grey;
                        background-color: $c-grey;
                        border-radius: $b-radius;
                        text-align: center;
                        color: $c-black;
                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &:focus {
                            outline: none;
                            border: 2px solid $c-light;
                        }
                    }
                    button {
                        height: 32px;
                        width: 32px;
                        border: 2px solid;
                        border: 2px solid $c-grey;
                        background-color: transparent;
                        border-radius: $b-radius;
                        text-align: center;
                        color: $c-white;
                    }
                }
            }
        }

        p {
            color: $c-white;
        }
        hr {
            margin: $s-intern $s-container;
        }
    }
}